@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(72deg, #7D0808 1%, #000 99%);
}

.content {
	width: 20rem;
	border-radius: 20px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0rem 0rem 10rem #000;
}

.navigation {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.bar {
	width: 2rem;
	height: 0.65rem;
	border: 2px solid #fff;
	margin: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: .6s;
	box-shadow: 0rem 0rem 1rem #000;
}

.bar:hover {
	background: white;
}

input {
	display: none;
}

.slides {
	display: flex;
	width: 500%;
	height: 100%;
}

.slide {
	width: 20%;
	transition: .6s;
}

.slide img {
	width: 100%;
	height: 100%;
}

#slide1:checked ~ .s1 {
	margin-left: 0; 
}

#slide2:checked ~ .s1 {
	margin-left: -20%;
}

#slide3:checked ~ .s1 {
	margin-left: -40%;
}

#slide4:checked ~ .s1 {
	margin-left: -60%;
}

#slide5:checked ~ .s1 {
	margin-left: -80%;
}
