@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(https://wallpapercave.com/wp/wp2313664.jpg);
}
