#menu-h {
	background-color: rgb(37, 37, 37);
}

#menu-h ul {
	max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
	display: inline;
}

#menu-h ul li a {
	padding: 20px;
	color: white;
	text-decoration: none;
	display: inline-block;
	transition: background .4s;
}

#menu-h ul li a:hover {
	background-color: rgb(0, 156, 59);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(0, 156, 59);
}
